* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding-left: 3rem;
  padding-right: 3rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: #6c63ff;
}
.navbar-links-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}
.navbar-menu-container {
  display: none;
}

.primary-button {
  padding: 0.5rem 1.5rem;
  background-color: #6c63ff;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}
.primary-button:hover {
  background-color: #4640ad;
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 1.5rem;
}
.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  flex: 1;
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.home-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 600;
  color: #000000;
  max-width: 600px;
}
.home-primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #000000;
  margin: 1.5rem 0rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #6c63ff;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #4640ad;
}

.artwork-form-container {
  padding: 2rem 2rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.login-header,
.registration-header,
.artwork-header {
  font-size: 1.5rem;
  font-weight: 600;
}
.artwork-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box {
  width: 15rem;
  height: 20rem;
  background-color: #e9e9e9;
  border: #afafaf solid 1px;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 400px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .home-image-section {
    width: 100%;
    max-width: 400px;
  }
  .home-heading {
    text-align: center;
    max-width: 90%;
  }
  .home-primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container {
    display: none;
  }
}

.art-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  margin: 2rem;
  font-size: 1.2rem;
}

.account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  margin: 2rem;
  font-size: 1.2rem;
}
